<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <%= image_tag "me2.jpg", class: "img-fluid rounded-circle" %>
      <h1 class="text-light"> Chelsea Roberts</h1>
      <div class="social-links mt-3 text-center">
        <a href="https://github.com/Chelsea46" target="blank"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="www.linkedin.com/in/chelsea-roberts-2808881b2" target="blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <nav id="navbar" class="nav-menu navbar">
   <ul>
     <li>
       <div class="ruby-link">
        <i class="fa-solid fa-house"></i>
        <%= link_to "Home", root_path, class: "nav-link scrollto active" %>
       </div>
     </li>
     <li>
       <div class="ruby-link">
        <i class="fa-solid fa-person-dress"></i>
        <%= link_to "About", about_path, class: "nav-link scrollto" %>
       </div>
     </li>
      <li>
        <div class="ruby-link">
          <i class="fa-solid fa-folder-open"></i>
          <%= link_to "Portfolio", portfolio_path, class: "nav-link scrollto" %>
        </div>
      </li>
      <li>
        <div class="ruby-link">
          <i class="fa-solid fa-envelope"></i>
          <%= link_to "Contact", contact_path, class: "nav-link scrollto" %>
        </div>
      </li>
    </ul>
  </nav>
</header>
