<!DOCTYPE html>
<html lang="en">
    <head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chelsea Roberts</title>
        <link rel="icon" type="image/x-icon" href="img/favicon.ico">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />


        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Slab:400,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
        <header>
            <div class="logo">
                <img src="assests/me2.jpg" alt="">
            </div>
            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">My Services</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About me</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">My Projects</a></li>
                </ul>
            </nav>
        </header>

        <!-- Introduction -->
        <section class="intro" id="home">
            <h1 class="section__title section__title--intro">
                Hi, I am <strong>Chelsea Roberts</strong>
            </h1>
            <p class="section__subtitle section__subtitle--intro">Junior Web Developer</p>
           <%= image_tag "me2.jpg", class: "intro__img" %>
           <%# <img src="assests/me2.jpg" alt="" class="intro__img"> %>
        </section>


        <!-- My services -->
        <section class="my-services" id="services">
            <h2 class="section__title section__title--services">What I do</h2>
            <div class="services">
                <div class="service">
                    <h3>Soft Skills</h3>
                    <p>
                      As a dedicated web developer, I prioritize staying updated with industry trends and 
                      technologies. I achieve this by regularly engaging with reputable resources and 
                      communities. I follow blogs and news sources like Medium.com, and Dev.to, Kevinpowell.co CSS blog to stay informed about the latest design and development 
                      techniques.
                    </p>
                    <p>
                      Additionally, I actively participate in web development forums 
                      such as Scrimba Discord and Le Wagon Slack channel,
                      both seeking and sharing knowledge with fellow developers.
                      Attending industry conferences and participating in online webinars is another way I stay connected
                      and gain insights from industry experts. By actively seeking out and participating in these resources,
                      I am committed to delivering the most innovative and cutting-edge solutions in my projects.
                    </p>
                </div> <!-- / service -->


                <div class="service">
                    <h3>Technical Skills</h3>
                    <p>I am a versatile web developer with knowledge of:
                    </p>
                    <ul>
                    <li>HTML, CSS</li>
                    <li>JavaScript</li>  
                    <li>React.js </li>
                    <li>Node.js</li>
                    <li>Ruby on Rails</li>
                    <li>APIs</li>
                    <li>MySQL</li>
                    <li>MongoDB</li>
                    </ul>
                </div> <!-- / service -->

            </div> <!-- / services -->

            <a href="#work" class="btn">My Projects</a>
        </section>


        <!-- About me -->
        <section class="about-me" id="about">
           <h2 class="section__title section__title--about">Who I am</h2>
           <p class="section__subtitle section__subtitle--about">Web Developer and cat lover from Glasgow</p>

           <div class="about-me__body">
               <p>I have recently completed a coding bootcamp with Le Wagon after falling in love with front end over a year ago. I have a keen eye to detail and am able to work amicably as part of a team, possessing a friendly attitude with quick learning abilities.</p>

               <p> I can easily adapt to changing situations and collaborate with large groups of people without difficulties. I am organised, patient, and analytical with implacable interpersonal skills and excellent work ethic.</p>

           </div>
           <%= image_tag "2022-11-09 (2).png", class: "about-me__img" %>
        </section>

        <!-- My Work -->
           <section id="projects" class="projects sec-pad">

        <h2 class="section__title section__title--about">Projects</h2>
          <p>
            All my projects include links to the code and live version. Click the button to learn more about each one.
          </p>


        <div class="projects__content">
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <%= image_tag "fresh-picks.png", class: "projects__row-img", loading:"lazy" %>
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Fresh Picks</h3>
              <p class="projects__row-content-desc">
                Fresh Picks is a website created by myself and 3 other teammates at Le Wagon. It is a website created with climate concious foodies in mind - select a month on the calendar and the website will take you to a page showing the fresh produce available in the UK during that Season. Select your favourite fruit or Veg, and be transported to a page full of recipes for that given produce! You can choose to add it to your favourites, where it'll then be stored in "Your Picks"
              </p>
              <a
                href="fresh-picks.shop"
                target="_blank"
                class="btn btn--med btn--theme dynamicBgClr"
                >View Live</a
              >
            </div>
          </div>
          <%# <div class="projects__row">
            <div class="projects__row-img-cont">
             <%= image_tag "keeprunning.png", class: "projects__row-img", loading:"lazy" %>
            <%# </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Keep Running</h3>
              <p class="projects__row-content-desc">
                A website created by fellow Le Wagoners where I am assisting on making the website responsive. This web app is for runners wanting to be held accountable. Set bets against yourself and see if you're up for the challenge!
              </p>
              <a
                href="https://www.keeprunning.app/"
                target="_blank"
                class="btn btn--med btn--theme dynamicBgClr"
                >Learn more</a
              >
            </div> %>
          <%# </div> %> 
          <div class="projects__row">
            <div class="projects__row-img-cont"> 
              <%= image_tag "BuddyUp.png", class: "projects__row-img", loading:"lazy" %>
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">BuddyUp</h3>
              <p class="projects__row-content-desc">
               I developed a MeetUp clone application that empowers users to create, edit, and delete activities, as well as enroll in other activities. The app is supported by a robust API that ensures seamless execution of CRUD (Create, Read, Update, Delete) operations. Additionally, I implemented a search functionality that enables users to search for activities based on date, activity type, or city. To enhance the user experience and prevent clutter, I incorporated a pagination feature to neatly organize the content on the web page.
              </p>
              <a
                href="https://buddyup.netlify.app/"
                target="_blank"
                class="btn btn--med btn--theme dynamicBgClr"
                >View Live</a
              >
            </div>
          </div>

          <div class="projects__row">
            <div class="projects__row-img-cont"> 
              <%= image_tag "CryptoApp (2).png", class: "projects__row-img", loading:"lazy" %>
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Crypto App</h3>
              <p class="projects__row-content-desc">
               A cryptocurrency tracking app offers users a comprehensive and user-friendly platform to monitor their investments, make informed decisions, and manage their portfolio efficiently. By integrating real-time data, robust authentication, and interactive data visualization, it empowers users to navigate the complex world of cryptocurrencies with confidence.
               Languages used were JavaScipt, React, Node.js, and MYSQL.
              </p>
              <a
                href="https://chelsea-cryptoapp.netlify.app/"
                target="_blank"
                class="btn btn--med btn--theme dynamicBgClr"
                >View Live</a
              >
            </div>
          </div>
         
        </div>
    </section>



        <!-- Footer -->
        <footer class="footer">
            <!-- replace with your own email address -->
            <a href="mailto:chelsea.j.roberts@hotmail.com" class="footer__link">chelsea.j.roberts@hotmail.com</a>
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com/Chelsea46" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.linkedin.com/in/chelsea-roberts-2808881b2/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                    </a>
                </li>
            </ul>
        </footer>


        <script src="js/index.js"></script>

    </body>
</html>
